
        <!-- <div ng-controller="thing"> -->
            <!-- <button ng-click="red()">red</button>
        <ul>
            <li ng-repeat="welcome in every" >
                <span ng-bind-html="welcome.message|trustAsHtml"></span>
            </li>
        </ul> -->
            <!-- <button ng-click="mail()">mail</button>
        </div> -->
        
        <!-- <div ng-controller="app">
            <button id="attach" class="fas fa-paperclip"><input type="file" onchange="angular.element(this).scope().uploadFile(this.files)"/></button>
                <ul>
                    <li class="animate" ng-repeat="search in foods">
                                <button id="doc" class="fas fa-file-alt"></button><button ng-click="to(search)">{{search}}</button>
                    </li>
                </ul>
        </div> 
         <span ng-view class="newline"></span> -->
        <div id="mainpage" ng-controller="thing">
            <div id="mainone">
                
            </div>
            <div id="maintwo">
                
            </div>
            <div id="mainthree"></div>
        </div>
